#ai_chat_input{
    width: 100%;
    height: 9%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    resize: none;
    background-color: rgb(119, 93, 251);
    font-size: 17px;
    color: aliceblue;
}