.Dtrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    max-width: 300px;
    height: fit-content;
    border-bottom: solid 1px #545445;
    background-color: rgb(203, 249, 181);
    gap: 10px;
    padding: 10px;
}
.Dtrow p{
    width: max-content;
    line-height: 1.2rem;
    margin: 0;
}
