.DTtable{
    display: flex;
    flex-direction: column;
    width: 76vw;
    height: 100%;
    background-color: rgb(251, 251, 251);
    border-top: solid 1px #929292;
    overflow: scroll;
    gap: 2px;
    position: relative;
    z-index: 7;

}