.chat_container{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    height: fit-content;
    overflow-wrap: break-word;
}
.chat_container_user_false{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    height: fit-content;
    overflow-wrap: break-word;
}
