.Datatable{
    display: flex;
    flex-direction: column;
    grid-template-rows: 100px 1fr;
    grid-template-rows: 1fr;
    width: 79vw;
    height: 100%;
    background-color: azure;
    border-left: solid 1px #929292;
    overflow: hidden;
}   
.header{
    display: flex;
    align-items: center;
    width: 79vw;
    height: 100px;
    background-color: azure;
    padding-left: 2%;
    
}

.header p{
    font-size: 2rem;
    margin: 0px;
}
